<div class="col-md-offset-3 col-md-6">
  <div class="row login-container">
    <div class="logo">
      <img [src]="'assets/images/SafeTravels/SafeTravels2.png'" alt="SafeTravels Logo" width="300">
    </div>

    <md-card class="login-form-container">

      <md-card-header>
        <md-card-title><h3>Travel Company Sign Up</h3></md-card-title>
      </md-card-header>

      <md-card-content>
        <form #f="ngForm" method="post" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <md-input-container class="w100">
              <input name="business_name" [(ngModel)]="user.business_name" type="text" md-input
                     placeholder="Travel Company Name" [type]="'text'">
            </md-input-container>
          </div>

          <h5>Contact Person</h5>

          <div class="form-group">
            <md-input-container class="w100">
              <input name="first_name" [(ngModel)]="user.first_name" type="text" md-input placeholder="First Name"
                     [type]="'text'">
            </md-input-container>
          </div>

          <div class="form-group">
            <md-input-container class="w100">
              <input name="last_name" [(ngModel)]="user.last_name" type="text" md-input placeholder="Last Name"
                     [type]="'text'">
            </md-input-container>
          </div>

          <div class="form-group">
            <md-input-container class="w100">
              <input name="email" [(ngModel)]="user.email" type="email" md-input placeholder="Email address"
                     [type]="'email'">
            </md-input-container>
          </div>

          <div class="form-group">
            <md-input-container class="w100">
              <input name="password" [(ngModel)]="user.password" type="password" md-input placeholder="Password" [type]="'password'">
            </md-input-container>
          </div>

          <div class="form-group">
            <md-input-container class="w100">
              <input name="password_confirmation" type="password" [(ngModel)]="user.password_confirmation" md-input
                     placeholder="Confirm Password" [type]="'password'">
            </md-input-container>
          </div>


          <div class="row">
            <div class="col-md-12">
              <md-checkbox name="agreeTermConditions" [(ngModel)]="agreeTermConditions" [color]="'primary'">I Agree to
                <button type="button" class="btn btn-link" (click)="openTermsDialog()">Terms & Conditions</button>
                and
                <button type="button" (click)="openPrivacyDialog()" class="btn btn-link">Privacy Policy</button>
              </md-checkbox>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-purple btn-block">Sign Up</button>
            <p>Already a member?? <a routerLink="/login">Sign In</a></p>
          </div>
        </form>
      </md-card-content>

    </md-card>
  </div>
</div>
