<div class="modal-title-wrapper">
	<div class="row">
		<div class="col-md-9">
			<h2 md-dialog-title>Change Your Plan</h2>
		</div>
		<div class="col-md-3">
			<md-dialog-actions>
				<button class="alink" md-dialog-close><i class="fa fa-close"></i></button>
			</md-dialog-actions>
		</div>
	</div>

</div>

<md-dialog-content>
	<div class="plan-dialog-content sl-modal">


		<div class="row panel panel-default">
			<div class="panel-body smaller-labels">
				<div class="col-md-6">
					<div class="xe-widget xe-counter c-flamepea">
						<div class="xe-icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
						<div class="xe-label"><strong class="num">MEDIUM</strong><span>New Plan</span></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="xe-widget xe-counter c-purpleheart">
						<div class="xe-label"><strong class="num">25/ 50</strong><span>Trips Available</span></div>
					</div>
				</div>
			</div>
		</div>


		<div class="panel panel-default row cc-form-box">
			<div class="panel-heading">
				<h3 class="panel-title">Complete the Process</h3>
			</div>
			<div class="panel-body">
				<div class="busyState">

					<form>
						<div class="clearfix">
							<div class="form-group col-lg-9 ">
								<label for="cc-number" class="control-label">Card Number</label>
								<input class="form-control" id="cc-number" placeholder="****-****-****-****" type="text">
							</div>

							<div class="form-group col-lg-3 ">
								<label for="cc-sec" class="control-label">Security Code</label>
								<input class="form-control" id="cc-sec" placeholder="" type="text">
							</div>


							<div class="form-group col-lg-6 ">
								<label for="cc-name" class="control-label">Name on the Card</label>
								<input class="form-control" id="cc-name" placeholder="" type="text">
							</div>

							<div class="form-group col-lg-3 ">
								<label for="cc-month" class="control-label">Expiration Date</label>
								<select class="form-control" id="cc-month">
									<option>01 - JAN</option>
									<option>02 - FEB</option>
									<option>03 - MAR</option>
									<option>04 - APR</option>
									<option>05 - MAY</option>
								</select>
							</div>

							<div class="form-group col-lg-3 ">
								<label for="cc-year" class="control-label hidden-label">Year</label>
								<select class="form-control" id="cc-year">
									<option>2016</option>
									<option>2017</option>
									<option>2018</option>
									<option>2019</option>
									<option>2020</option>
								</select>
							</div>
						</div>
						<div class="cc-footer">
							<button class="btn btn-info btn-icon btn-icon-standalone btn-lg"><i class="fa-credit-card"></i> <span>Finish Plan Change</span>
							</button>
							<strong><i class="fa fa-flag"></i> Secure credit card payment</strong>
							<em>This is a secure 128-bit SSL encrypted payment</em>

						</div>
					</form>


				</div>
			</div>
		</div>


	</div>

</md-dialog-content>

