<h2 md-dialog-title>Add New Staff User</h2>

<md-dialog-content>
	<div class="add-user-dialog-content">
		<div class="form-group">
			<md-input-container>
				<input md-input placeholder="First Name" value="" [required]="true">
			</md-input-container>
		</div>

		<div class="form-group">
			<md-input-container>
				<input md-input placeholder="Last Name" value="" [required]="true">
			</md-input-container>
		</div>

		<div class="form-group">
			<md-input-container>
				<input md-input placeholder="Email Address" value="" type="email" [required]="true">
			</md-input-container>
		</div>

		<div class="form-group">
			<md-select placeholder="User type" [required]="true">
				<md-option [value]="'?'">
				</md-option>
				<md-option *ngFor="let userType of userTypes" [value]="userType.value">
					{{ userType.title }}
				</md-option>
			</md-select>
		</div>

	</div>


</md-dialog-content>
<md-dialog-actions>
	<button class="btn" btn-sm md-dialog-close>Close</button>
	<button class="btn btn-sm btn-success">Save</button>

</md-dialog-actions>
