<div class="panel panel-default">
  <div class="panel-body">
    <h4>Getting Started <a (click)="toggleSidebarProgress(!sidebarProgressToggle)" id="close-progress-sidebar" class="alink white_ico_btn btn" role="button"><i
      class="fa fa-times"></i></a></h4>
    <div>We recommend that you follow these steps and complete your profile to gain better understanding of all the
      SafeTravel features and provide the best experience for your customers
    </div>
  </div>

  <div class="xe-widget xe-progress-counter xe-progress-counter-info" data-count=".num" data-from="0" data-to="10" data-duration="8">

    <div class="xe-background">

    </div>

    <div class="xe-upper" style="display: none" [hidden]="true">
      <div class="xe-label">
        <span></span>
        <strong [hidden]="true" class="num">0</strong>
      </div>
    </div>

    <div class="xe-progress">
      <span class="xe-progress-fill" data-fill-from="0" data-fill-to="70" data-fill-unit="%" data-fill-property="width"
            data-fill-duration="3" data-fill-easing="true"></span>
    </div>

  </div>

  <div class="progress-checklist">

    <div class="progress-check">
      <input id="check1" type="checkbox">
      <label for="check1" class="">Complete Business Details</label>
    </div>

    <div class="progress-check">
      <input id="check2" type="checkbox">
      <label for="check2">
        Upload Business Logo &amp; Cover Image</label>
    </div>

    <div class="progress-check">
      <input id="check3" type="checkbox">
      <label for="check3">Add Staff Users and Administrators</label>
    </div>
    <div class="progress-check">
      <input id="check4" type="checkbox">
      <label for="check4">Create your first Trip</label>
    </div>

  </div>
</div>
