<div class="panel panel-default">
	<div class="panel-body">
		<h4>Getting Started <a (click)="toggleSidebarProgress(!sidebarProgressToggle)" id="close-progress-sidebar"
													 class="alink white_ico_btn btn" role="button"><i
				class="fa fa-times"></i></a></h4>
		<div>We recommend that you follow these steps and complete your profile to gain better understanding of all the
			SafeTravel features and provide the best experience for your customers
		</div>
	</div>

	<div class="xe-widget xe-progress-counter xe-progress-counter-info">
		<div class="xe-progress">
			<app-progress [prefix]="" [suffix]="" [step]="30" [countTo]="70" [countFrom]="0"
										[duration]="3"></app-progress>
		</div>

	</div>

	<div class="progress-checklist">
		<md-checkbox class="checklist-item" [(ngModel)]="check1">Complete Business Details</md-checkbox>
		<md-checkbox class="checklist-item" [(ngModel)]="check2">Upload Business Logo &amp; Cover Image</md-checkbox>
		<md-checkbox class="checklist-item" [(ngModel)]="check3">Add Staff Users and Administrators</md-checkbox>
		<md-checkbox class="checklist-item" [(ngModel)]="check4">Create your first Trip</md-checkbox>
	</div>
</div>
