<!-- Begin page title -->
<div class="page-title">
  <div class="title-env">
    <h1 class="title">My Profile</h1>
    <p class="description">Edit your basic profile information and add a profile image.</p>
  </div>

  <div class="breadcrumb-env">

    <ol class="breadcrumb bc-1">
      <li>
        <a routerLink="/home"><i class="fa-home"></i>Home</a>
      </li>
      <li class="active">
        <strong>My Profile</strong>
      </li>
    </ol>

  </div>
</div>
<!-- // Page title -->

<md-card>
  <div class="profile-env">
    <div class="user-info-sidebar">
      <div ng-controller="profileController" class="ng-scope">
        <div class="row">
          <div class="col-md-3">
            <a (click)="openImageDialog()" class="alink user-name">
              {{user.first_name + ' ' + user.last_name}}
              <span class="user-status is-online"></span>
            </a>
            <a (click)="openImageDialog()" class="alink user-img" style="width: 100px; text-align: center;">
              <img *ngIf="user.avatar" alt="user-img" class="img-cirlce img-responsive img-thumbnail"
                   [src]="user.avatar">
              <img *ngIf="!user.avatar" alt="user-img" class="img-cirlce img-responsive img-thumbnail"
                   [src]="'/assets/images/user-4.png'">
            </a>
            <button (click)="openImageDialog()" class="btn btn-purple btn-sm"> Add / Edit Image</button>
          </div>

          <div class="col-md-9">
            <form #f="ngForm" (ngSubmit)="onProfileSave()">
              <div class="row">
                <div class="col-md-3">
                  <h6>First Name</h6>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input [(ngModel)]="user.first_name" name="first_name" class="form-control" placeholder="Last Name" type="text">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <h6>Last Name</h6>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input [(ngModel)]="user.last_name" name="last_name" class="form-control" placeholder="Last Name" type="text">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <h6>Email Address</h6>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" type="text">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-purple btn-sm">Update Profile</button>
            </form>

          </div>
        </div>


        <hr>
      </div>

    </div>
  </div>

</md-card>
