<div class="col-md-offset-3 col-md-6">
  <div class="row login-container">
    <div class="logo">
      <img [src]="'assets/images/SafeTravels/SafeTravels2.png'" alt="SafeTravels Logo" width="300">
    </div>

    <md-card class="login-form-container">
      <form>
        <md-card-header>
          <md-card-title><h4>Sign In for Travel Companies</h4></md-card-title>
        </md-card-header>

        <md-card-content>

          <div class="form-group">
            <md-input-container class="w100">
              <input type="email" md-input placeholder="Email address" value="" [type]="'email'">
            </md-input-container>
          </div>

          <div class="form-group">
            <md-input-container class="w100">
              <input type="password" md-input placeholder="Password" value="" [type]="'password'">
            </md-input-container>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label>
                <md-checkbox [color]="'primary'">Remember me</md-checkbox>
              </label>
            </div>
            <div class="col-md-6">
              <a routerLink="/forgot-password" class="btn btn-link">Forgot
                Password?
              </a>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-purple btn-block">Sign In</button>
            <p>Not a member yet? <a routerLink="/sign-up">Sign Up</a></p>
          </div>

        </md-card-content>
      </form>
    </md-card>
  </div>
</div>
