<div class="page-title">

	<div class="title-env">
		<h1 class="title">Company Account Information</h1>
		<p class="description">Separated inputs into tabs for better step by step user experience of form filling</p>
	</div>

	<div class="breadcrumb-env">

		<ol class="breadcrumb bc-1">
			<li>
				<a routerLink="/home"><i class="fa-home"></i>Home</a>
			</li>
			<li>
				<a routerLink="/business/account">Business</a>
			</li>
			<li class="active">
				<strong>Account</strong>
			</li>
		</ol>

	</div>

</div>


<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Account Details: <br/>
			<p>Enter your company account information.</p></h3>


		<div class="panel-options">
			<md-select placeholder="Select Business Account" [(ngModel)]="selectedAccount" name="business-account">
				<md-option *ngFor="let account of accounts" [value]="account">
					{{account.name}}
				</md-option>
			</md-select>
		</div>
	</div>

	<div class="panel-body">
		<div class="row">
			<div class="col-md-8">
				<div class="business-logo-wrapper">
					<img *ngIf="selectedAccount.logo" class="img-responsive ng-scope"
							 [src]="selectedAccount.logo">
					<br/>
				</div>

				<div class="logo-upload-actions">
					<button (click)="openImageDialog()" class="btn btn-purple btn-single btn-sm">Add Logo
					</button>
				</div>

			</div>
			<div class="col-md-4">
				<p class="upload-right-intro">Upload a business logo and cover photo. This will form a key component of the
					style of the app for your
					customers when they use the App. <br> <br>You also have the option to customise the look further by adding a
					cover image to a particular trip. <br> <br>If you do not add a cover image, our default grey city cover image
					will be used.<br><br> The cover image and logo on the left provides a guide to how the images will display in
					the mobile app.</p>
			</div>
		</div>
		<hr/>

		<div class="row">

			<div class="col-md-8">
				<form #f="ngForm" (ngSubmit)="onSaveBusinessAccount()" class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input [(ngModel)]="selectedAccount.name" name="name" class="form-control" placeholder="Name" type="text">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Email</label>
						<div class="col-sm-10">
							<input [(ngModel)]="selectedAccount.email" name="email" class="form-control" placeholder="Email"
										 type="email">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Phone Number</label>
						<div class="col-sm-10">
							<input [(ngModel)]="selectedAccount.contact_number" name="contact_number" class="form-control"
										 placeholder="Phone number" type="text">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Website</label>
						<div class="col-sm-10">
							<input [(ngModel)]="selectedAccount.website" name="website" class="form-control" placeholder="Website"
										 type="text">
						</div>
					</div>

					<div class="form-group">

						<label class="col-sm-2 control-label">Country</label>
						<div class="col-sm-10">
							<select class="form-control" name="country" [(ngModel)]="selectedAccount.country_code" (change)="onCountryChange($event)">
								<option *ngFor="let country of countries"
												[value]="country.code_char2">{{country.name}}
								</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Address 1</label>
						<div class="col-sm-10">
							<input [(ngModel)]="selectedAccount.address_line_1" name="address_line_1" class="form-control"
										 placeholder="Address 1" type="text">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Address 2</label>
						<div class="col-sm-10">
							<input [(ngModel)]="selectedAccount.address_line_2" name="address_line_2" class="form-control"
										 placeholder="Address 2" type="text">
						</div>
					</div>


					<div class="form-group">
						<label class="col-sm-2 control-label">City</label>
						<div class="col-sm-10">
							<input [(ngModel)]="selectedAccount.city" name="city" class="form-control" placeholder="City" type="text">
						</div>
					</div>


					<div class="form-group">
						<label class="col-sm-2 control-label">State / Province / Region</label>
						<div class="col-sm-10">
							<select class="form-control" name="state" [(ngModel)]="selectedAccount.state_code">
								<option value="1" *ngFor="let state of states"
												[value]="state.state_subdivision_code">{{state.state_subdivision_name}}
								</option>
							</select>
						</div>
					</div>


					<div class="form-group">
						<label class="col-sm-2 control-label">Post Code</label>
						<div class="col-sm-10">
							<input [(ngModel)]="selectedAccount.postal_code" name="country_code" class="form-control"
										 placeholder="Post Code" type="text">
						</div>
					</div>


					<div class="form-group">
						<label class="col-sm-2 control-label">About Business</label>
						<div class="col-sm-10">
							<textarea [(ngModel)]="selectedAccount.description" name="description" class="form-control" cols="5">{{selectedAccount.description}}</textarea>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Average Tour Group per month</label>
						<div class="col-sm-10">
							<select name="average_tours" class="form-control" [(ngModel)]="selectedAccount.average_tours">
								<option [value]="'0-10'">0-10</option>
								<option [value]="'11-20'">11-20</option>
								<option [value]="'21-50'">21-50</option>
								<option [value]="'51+'">51+</option>
							</select>
						</div>
					</div>
					<hr/>
					<button type="submit" class="btn btn-purple btn-single btn-sm">Save Business Details</button>

				</form>
			</div>
			<div class="col-md-4">
				<img [src]="'/assets/images/SafeTravels/iphoneCompany.jpg'" alt="app screenshot" class="img-responsive">
			</div>
		</div>

	</div>
</div>
