<h2 md-dialog-title>{{title}}</h2>

<md-dialog-content>
	<div class="add-user-dialog-content">
		<div class="form-group">
			<md-input-container>
				<input md-input placeholder="Offer Name" name="title" [(ngModel)]="offer.title" [required]="true">
			</md-input-container>
		</div>

		<div class="form-group">
			<md-input-container>
				<input md-input placeholder="Offer URL" name="url" [(ngModel)]="offer.url" [required]="true">
			</md-input-container>
		</div>

		<div class="form-group">
			<md-input-container>
				<textarea md-input placeholder="Offer Description" name="description" [(ngModel)]="offer.description"></textarea>
			</md-input-container>
		</div>

		<div class="form-group">
			<md-input-container>
				<input md-input placeholder="Offer Price" name="price" [(ngModel)]="offer.price" [required]="true">
			</md-input-container>
		</div>

	</div>


</md-dialog-content>
<md-dialog-actions>
	<button class="btn btn-sm" md-dialog-close>Close</button>
	<button class="btn btn-sm btn-success" (click)="onSave()">Save</button>

</md-dialog-actions>
