<h2 md-dialog-title>{{title}}</h2>

<md-dialog-content>
	<form #f="ngForm">
		<div class="edit-trip-dialog-content">

			<div class="form-group-control">
				<md-input-container class="input-full-width">
					<input md-input placeholder="Trip Title" [(ngModel)]="trip.title" name="title" type="text"
								 [required]="true">
				</md-input-container>
			</div>
			<div class="form-group-control">
				<app-autocomplete (onKeyup)="onLocationKeyUp($event)" (onSelect)="onTripLocationSelect($event)"
													[placeholder]="'Location'"
													[dropdown]="locations" [value]="trip.start_location"></app-autocomplete>
			</div>
			<div class="form-group-control">
				<div class="row">
					<div class="col-md-12">
						<label>Start Date*</label>
					</div>
					<div class="col-md-12">
						<my-date-picker [selDate]="trip.start_date" class="date-select-picker" [options]="dateOptions"
														(dateChanged)="onSelectStartDate($event)"></my-date-picker>
					</div>
				</div>

			</div>
			<div class="form-group-control">
				<div class="row">
					<div class="col-md-12">
						<label>End Date*</label>
					</div>
					<div class="col-md-12">
						<my-date-picker [selDate]="trip.end_date" class="date-select-picker" [options]="dateOptions"
														(dateChanged)="onSelectEndDate($event)"></my-date-picker>
					</div>
				</div>
			</div>
			<div class="form-group-control">
				<div class="row">
					<div class="col-md-4">
						<md-slide-toggle
								class="example-margin"
								[color]="'primary'"
								[checked]="trip.admin_chat_enabled" (change)="admin_chat_enabled($event)">
							Enable admin chat
						</md-slide-toggle>
					</div>
					<div class="col-md-4">
						<md-slide-toggle
								class="example-margin"
								[color]="'primary'"
								[checked]="trip.guide_chat_enabled" (change)="guide_chat_enabled($event)">
							Enable admin chat
						</md-slide-toggle>

					</div>
					<div class="col-md-4">
						<md-slide-toggle
								class="example-margin"
								[color]="'primary'"
								[checked]="trip.group_chat_enabled" (change)="group_chat_enabled($event)">
							Enable admin chat
						</md-slide-toggle>
					</div>
				</div>
			</div>

		</div>
	</form>
</md-dialog-content>
<md-dialog-actions>
	<button class="btn btn-sm" md-dialog-close>Close</button>
	<button class="btn btn-sm btn-success" (click)="onSave()">Save changes</button>
</md-dialog-actions>
