<ul id="main-menu" class="main-menu">
	<li routerLinkActive="active">
		<a routerLink="/home" routerLinkActive="active">
			<i class="linecons-shop"></i>
			<span class="title">Home</span>
		</a>
	</li>

	<li routerLinkActive="active">
		<a routerLink="/business/account">
			<i class="linecons-cog"></i>
			<span class="title">Business</span>
		</a>
		<ul>
			<li routerLinkActive="active"><a routerLink="/business/account">Account</a></li>
			<li routerLinkActive="active"><a routerLink="/business/plan">Plan</a></li>
			<li routerLinkActive="active"><a routerLink="/business/users">Users</a></li>
		</ul>
	</li>
	<li routerLinkActive="active">
		<a routerLink="/trips" routerLinkActive="active"><i class="linecons-location"></i>
			<span class="title">Trips</span>
		</a>
	</li>
	<li routerLinkActive="active">
		<a routerLink="/product-offers" routerLinkActive="active"><i class="linecons-tag"></i>
			<span class="title">Product Offers</span>
			<span class="label label-purple pull-right hidden-collapsed">New</span>
		</a>
	</li>
	<li routerLinkActive="active">
		<a routerLink="/gallery">
			<i class="linecons-photo"></i>
			<span class="title">Image Gallery</span>
		</a>
	</li>
</ul>
