<ul id="main-menu" class="main-menu">
  <li>
    <a routerLink="/home" routerLinkActive="active">
      <i class="linecons-shop"></i>
      <span class="title">Home</span>
    </a>
  </li>

  <li>
    <a href="#">
      <i class="linecons-cog"></i>
      <span class="title">Business</span>
    </a>
    <ul>
      <li><a routerLink="/business/account" routerLinkActive="active">Account</a></li>
      <li><a routerLink="/business/plan" routerLinkActive="active">Plan</a></li>
      <li><a routerLink="/business/users" routerLinkActive="active">Users</a></li>
    </ul>
  </li>
  <li>
    <a routerLink="/home" routerLinkActive="active"><i class="linecons-location"></i>Trips</a>
  </li>
</ul>
