<h2 md-dialog-title>Offers</h2>

<md-dialog-content>
	<div id="chooseProducts" class="offers-list-dialog-content">
		<div class="col-md-6 col-sm-12">
			<h4>Active Offers</h4>
			<ul class="offers-list">
				<li class="clearfix" *ngFor="let offer of activatedOffers">
					<div class="offer-left pull-left">
						<a class="alink" (click)="removeOffer(offer)">{{offer.title}}</a>
						<p>{{offer.description}}</p>
					</div>
					<div class="offer-right pull-right">
						<button (click)="removeOffer(offer)" class="btn btn-link icnOfferRemove"><i class="fa fa-times"></i>
						</button>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-md-6 col-sm-12 allOffers">

			<ul>
				<li class="clearfix" *ngFor="let offer of offers">
					<div class="offer-left pull-left">
						<a class="alink" (click)="addOffer(offer)">{{offer.title}}</a>
						<p>{{offer.description}}</p>
					</div>
					<div class="offer-right pull-right">
						<button (click)="addOffer(offer)" class="btn btn-link icnOfferAdd"><i class="fa fa-plus"></i></button>
					</div>
				</li>
			</ul>
		</div>
	</div>

</md-dialog-content>

<md-dialog-actions>
	<div class="pull-left text-left">
		<button class="btn btn-info btn-sm" (click)="openAddOffer()">New Offer</button>
	</div>
	<div class="pull-right">
		<button class="btn btn-default btn-sm" md-dialog-close>Close</button>
		<button class="btn btn-success btn-sm" (click)="onSave()">Save changes</button>
	</div>

</md-dialog-actions>