<h2 mat-dialog-title>Offers</h2>

<md-dialog-content>
	<div id="chooseProducts" class="offers-list-dialog-content">
		<div class="col-md-6 col-sm-12">
			<h4>Active Offers</h4>
			<ul class="offers-list">
				<li class="clearfix">
					<div class="offer-left pull-left">
						<a href="javascript://">Explore the Reef by Air</a>
						<p>A once in a lifetime flight chance to explore the Great Barrier Reef by Helicoptor
						</p>
					</div>
					<div class="offer-right pull-right">
						<span class="btn icnOfferRemove"><i class="fa fa-times"></i></span>
					</div>
				</li>
				<li class="clearfix">
					<div class="offer-left pull-left">
						<a href="javascript://">Don't forget your Travel Insurance</a>
						<p>Left this travel essential to the last minute? Book it with us.
						</p>
					</div>
					<div class="offer-right pull-right">
						<span class="btn icnOfferRemove"><i class="fa fa-times"></i></span>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-md-6 col-sm-12 allOffers">

			<ul>
				<li class="clearfix">
					<div class="offer-left pull-left">
						<a href="javascript://" class="ng-binding">Don't forget your Travel Insurance</a>
						<p>Left this travel essential to the last minute? Book it with us.</p>
					</div>
					<div class="offer-right pull-right">
						<span class="btn icnOfferAdd"><i class="fa fa-plus"></i></span>
					</div>
				</li>

				<li class="clearfix">
					<div class="offer-left pull-left">
						<a href="javascript://" class="ng-binding">Don't forget your Travel Insurance</a>
						<p>Left this travel essential to the last minute? Book it with us.</p>
					</div>
					<div class="offer-right pull-right">
						<span class="btn icnOfferAdd"><i class="fa fa-plus"></i></span>
					</div>
				</li>


				<li class="clearfix">
					<div class="offer-left pull-left">
						<a href="javascript://" class="ng-binding">Don't forget your Travel Insurance</a>
						<p>Left this travel essential to the last minute? Book it with us.</p>
					</div>
					<div class="offer-right pull-right">
						<span class="btn icnOfferAdd"><i class="fa fa-plus"></i></span>
					</div>
				</li>


				<li class="clearfix">
					<div class="offer-left pull-left">
						<a href="javascript://" class="ng-binding">Don't forget your Travel Insurance</a>
						<p>Left this travel essential to the last minute? Book it with us.</p>
					</div>
					<div class="offer-right pull-right">
						<span class="btn icnOfferAdd"><i class="fa fa-plus"></i></span>
					</div>
				</li>


				<li class="clearfix">
					<div class="offer-left pull-left">
						<a href="javascript://" class="ng-binding">Don't forget your Travel Insurance</a>
						<p>Left this travel essential to the last minute? Book it with us.</p>
					</div>
					<div class="offer-right pull-right">
						<span class="btn icnOfferAdd"><i class="fa fa-plus"></i></span>
					</div>
				</li>

				<li class="clearfix">
					<div class="offer-left pull-left">
						<a href="javascript://" class="ng-binding">Don't forget your Travel Insurance</a>
						<p>Left this travel essential to the last minute? Book it with us.</p>
					</div>
					<div class="offer-right pull-right">
						<span class="btn icnOfferAdd"><i class="fa fa-plus"></i></span>
					</div>
				</li>

			</ul>
		</div>
	</div>

</md-dialog-content>

<md-dialog-actions>
	<button class="btn btn-default btn-sm" md-dialog-close>Close</button>
	<button class="btn btn-success btn-sm">Save changes</button>
</md-dialog-actions>