<div class="col-md-offset-3 col-md-6">
	<div class="row login-container">
		<div class="logo">
			<img [src]="'assets/images/SafeTravels/safetravels_logo_transparent.png'" alt="SafeTravels Logo" width="300">
		</div>

		<md-card class="login-form-container">

			<md-card-header>
				<md-card-title><h4>Forgot Password</h4></md-card-title>
			</md-card-header>

			<md-card-content>
				<form #f="ngForm" (ngSubmit)="onSubmit()">
					<div class="form-group">
						<md-input-container class="w100">
							<input type="email" md-input placeholder="Email address" [(ngModel)]="email" name="email" [type]="'email'" [required]="true">
						</md-input-container>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-purple btn-block">Send me password</button>
						<p>Not a member yet? <a routerLink="/sign-up">Sign Up</a></p>
					</div>
				</form>
			</md-card-content>

		</md-card>
	</div>
</div>
