<div class="col-md-offset-3 col-md-6">
  <div class="row login-container">
    <div class="logo">
      <img [src]="'assets/images/SafeTravels/SafeTravels2.png'" alt="SafeTravels Logo" width="300">
    </div>

    <md-card class="login-form-container">
      <form>
        <md-card-header>
          <md-card-title><h4>Forgot Password</h4></md-card-title>
        </md-card-header>

        <md-card-content>

          <div class="form-group">
            <md-input-container class="w100">
              <input type="email" md-input placeholder="Email address" value="" [type]="'email'">
            </md-input-container>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-purple btn-block">Send me password</button>
            <p>Not a member yet? <a routerLink="/sign-up">Sign Up</a></p>
          </div>
        </md-card-content>
      </form>
    </md-card>
  </div>
</div>
