<!-- Begin page title -->
<div class="page-title">
	<div class="title-env">
		<h1 class="title">Trips Management</h1>
		<p class="description">Select a Trip to View</p>
	</div>

	<div class="breadcrumb-env">

		<ol class="breadcrumb bc-1">
			<li>
				<a routerLink="/home"><i class="fa-home"></i>Home</a>
			</li>
			<li class="active">
				<strong>Trips</strong>
			</li>
		</ol>

	</div>
</div>
<!-- // Page title -->

<div class="panel panel-default">
	<div class="panel-heading">
		Trips
	</div>

	<div class="panel-body">

		<div class="btn-toolbar">
			<div class="btn-group focus-btn-group">
				<button (click)="openAddTripDialog()" class="btn btn-default"><span class="fa-plus"></span> Create new Trip
				</button>
			</div>
		</div>

		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Trip Name</th>
					<th>Departure Date</th>
					<th>Trip Leader</th>
					<th>Admin Manager</th>
					<th></th>
				</tr>
				</thead>

				<tbody>
				<tr>
					<td>Multi Language activity debug</td>
					<td>Thu, 11 July 2019</td>
					<td>Harry Hubert</td>
					<td>Sally Grasperet</td>
					<td><a routerLink="/trips/manage/1" class="btn btn-secondary">Edit</a></td>
				</tr>
				</tbody>
			</table>
		</div>


	</div>
</div>
