<div class="t-header" [style.background-image]="'url(/assets/data/images/trip.jpg)'">
  <div class="btn-edittrip">
    <button href="" class="btn btn-success btn-single btn-sm">Add Cover
      Image
    </button>
    <button class="btn btn-purple btn-single btn-sm">Edit
      Trip
    </button>
    <button href="" class="btn btn-icon btn-red">x</button>
  </div>
  <div class="t-header-bottom row">
    <div class="col-md-4">
      <div class="t-header-thumb">
        <div class="t-ht-month ng-binding">11th</div>
        <div class="t-ht-day ng-binding">Jul</div>
      </div>
      <div class="t-header-details">
        <div class="t-hd-title ng-binding">Multi Language activity debug</div>
        <div class="t-hd-dates ng-binding">Thu, 11 Jul 2019 - Fri, 19 Jul 2019</div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4 col-md-push-8">
          <div class="t-header-guide">
            <div class="t-hg-who">Trip Token:</div>
            <div class="t-hg-name" style="text-transform: uppercase;">yvooj
              <a (click)="openTripTokenDialog()" class="alink">
                <span class="fa fa-question-circle-o"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="t-header-guide">
            <div class="t-hg-photo" [style.background-image]="'url(/assets/data/images/test.jpg)'"></div>
            <div class="t-hg-who">Trip Guide:</div>
            <div class="t-hg-name ng-binding">Harry Hubert</div>
          </div>
        </div>
        <div class="col-md-4 col-md-pull-8">
          <div class="t-header-guide">
            <div class="t-hg-photo" [style.background-image]="'url(/assets/data/images/test.jpg)'"></div>
            <div class="t-hg-who">Trip Manager:</div>
            <div class="t-hg-name ng-binding">Sally Grasperet</div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>


<md-card>

  <md-tab-group>
    <md-tab>
      <template md-tab-label>
        <i class="icon-Tourism-Icons_monument-4"></i>
        Trip Itinerary
      </template>

      <div class="col-md-3 c-mt-list">

        <ul class="list-group">
          <li class="alink list-group-item c-trip-itinerary">
            <div class="c-ti-date pull-left">
              <div class="c-tid-dow ng-binding">Thu</div>
              <div class="c-tid-day ng-binding">17</div>
              <div class="c-tid-month ng-binding">Nov</div>
            </div>
            <div class="c-ti-details pull-right">
              <div class="c-ti-destination ng-binding">
                Day 1
              </div>
              <div class="c-ti-data ng-binding">
                5 Activities, 1 Offers
              </div>
            </div>
          </li>
          <li class="alink list-group-item c-trip-itinerary">
            <div class="c-ti-date pull-left">
              <div class="c-tid-dow ng-binding">Thu</div>
              <div class="c-tid-day ng-binding">17</div>
              <div class="c-tid-month ng-binding">Nov</div>
            </div>
            <div class="c-ti-details pull-right">
              <div class="c-ti-destination ng-binding">
                Day 2
              </div>
              <div class="c-ti-data ng-binding">
                5 Activities, 1 Offers
              </div>
            </div>
          </li>
          <li class="alink list-group-item c-trip-itinerary">
            <div class="c-ti-date pull-left">
              <div class="c-tid-dow ng-binding">Thu</div>
              <div class="c-tid-day ng-binding">17</div>
              <div class="c-tid-month ng-binding">Nov</div>
            </div>
            <div class="c-ti-details pull-right">
              <div class="c-ti-destination ng-binding">
                Day 3
              </div>
              <div class="c-ti-data ng-binding">
                5 Activities, 1 Offers
              </div>
            </div>
          </li>
        </ul>

      </div>


      <div class="col-md-9 c-mt-contents">
        <div class="itineraryMainBox">
          <div class="panel">
            <div class="panel-body">
              <h3 class="c-header"><strong class="pull-left ng-binding">Day 1</strong>
                <button type="button" class="btnIcon btn-text-blue"><i class="linecons-pencil"></i>
                </button>
                <button type="button" class="btnIcon btn-text-red"><i class="linecons-trash"></i></button>
                <a href="" class="pull-right">
                  <button class="btn btn-success">
                    <i class="fa fa-plus"></i> Add Activity to Day
                  </button>
                </a>

              </h3>


              <table class="table table-hover members-table middle-align">
                <tbody>
                <tr class="Activity ng-scope">
                  <td class="user-image">
                    <div class="activity-icon type-5"><span class="icon-Tourism-Icons_compass"></span></div>
                  </td>
                  <td class="hidden-xs hidden-sm" width="70%">
                    <h4 class="ng-binding"><strong class="ng-binding">03:00 AM</strong> Multi-language test</h4>
                    <p class="ng-binding"><em class="ng-binding">Song Phi Nong, Thailand</em></p>
                    <div class="c-offer-container">
                      <div class="c-offers">
                        <span class="c-offer-pill ng-binding">Explore the Reef by Air  &nbsp; <a href="javascript://"><i
                          class="fa fa-times"></i></a></span>
                      </div>

                      <a href="javascript://" class="c-offer-pill c-offer-btn"><i class="fa fa-plus"></i> Manage Offers
                      </a>
                    </div>
                  </td>
                  <td class="action-links">
                    <div class="c-actionbtn-container">
                      <a href="javascript://" class="edit"><i class="linecons-pencil"></i> &nbsp;
                        Edit
                      </a>
                      <br>
                      <a href="javascript://" class="delete">
                        <i class="linecons-trash"></i> &nbsp;
                        Delete
                      </a>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <!-- image -->
              <div>

                <h3 class="c-header"><span class="pull-left">Trip Album</span>
                  <a href="javascript://"
                     class="pull-right ng-scope">
                    <button class="btn btn-primary ng-scope">Choose Images
                    </button>
                  </a>

                </h3>

                <ul class="trip-docs">
                  <li><a
                    href="https://safetravels01.s3.eu-central-1.amazonaws.com/22d2bce14462a0e269690a7eb7b62b4c8d269830-1024"><img
                    src="https://safetravels01.s3.eu-central-1.amazonaws.com/22d2bce14462a0e269690a7eb7b62b4c8d269830-1024"
                    alt=""></a>
                    <span class="doc-title"></span>
                    <a href="javascript://" class="doc-delete">&nbsp;<i
                      class="fa fa-times"></i></a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>


    </md-tab>

    <md-tab>
      <template md-tab-label>
        <i class="fa fa-users"></i>
        Trip Passengers
      </template>
      <div class="row c-manage-trip">
        <div class="col-md-3 c-mt-list">
          <div class="c-tripmembers">
            <h5 class="pull-left">Trip Members</h5>
            <button type="button" class="btn btn-sm btn-success pull-right">
              <i class="fa fa-plus"></i> &nbsp; Add Passenger
            </button>
          </div>

          <ul class="list-group">
            <li class="list-group-item active c-trip-itinerary alink">
              <div class="c-ti-allmembers pull-left"></div>
              <div class="c-ti-details pull-right">
                <div class="c-ti-destination">
                  Trip Group
                </div>
                <div class="c-ti-data">
                  Add Documents to Trip
                </div>
              </div>
            </li>
            <li class="alink list-group-item c-trip-itinerary">
              <div class="c-ti-date pull-left"><img [src]="'/assets/images/user-1.png'" class="img-circle"
                                                    alt="user-pic">
              </div>
              <div class="c-ti-details pull-right">
                <div class="c-ti-destination ng-binding">
                  Margot Abbot
                </div>
                <div class="c-ti-data ng-binding">
                  Documents
                </div>
              </div>
            </li>

            <li class="alink list-group-item c-trip-itinerary">
              <div class="c-ti-date pull-left"><img [src]="'/assets/images/user-1.png'" class="img-circle"
                                                    alt="user-pic">
              </div>
              <div class="c-ti-details pull-right">
                <div class="c-ti-destination ng-binding">
                  Margot Abbot
                </div>
                <div class="c-ti-data ng-binding">
                  Documents
                </div>
              </div>
            </li>

          </ul>
          <div class="c-inactivemembers">
            <h4 class="pull-left">Inactive</h4>
            <button type="button" class="btn btn-success pull-right">Activate All
            </button>
          </div>

        </div>
        <div class="col-md-9">

          <!-- Begin trip group -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"> Trip Group</h3>

              <div class="panel-options">
                <button class="btn btn-small btn-success">Activate All Members</button>
              </div>
            </div>

            <div class="panel-body">

              <p>Content for trip group here...</p>
            </div>
          </div>
          <!-- // Trip group -->


          <!-- Begin travel document -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"> Travel Documents</h3>

              <div class="panel-options">
                <button class="btn btn-small btn-info">Upload</button>
              </div>
            </div>

            <div class="panel-body">

              <ul class="trip-docs">
                <li>
                  <a
                    href="https://safetravels01.s3.eu-central-1.amazonaws.com/864fdee9613aae26406169c72f52f9e6447a33d5-1024">
                    <img
                      [src]="'https://safetravels01.s3.eu-central-1.amazonaws.com/864fdee9613aae26406169c72f52f9e6447a33d5-50'"
                      alt="">
                  </a>
                  <span class="doc-title"></span>
                  <a class="alink doc-delete">&nbsp;
                    <i class="fa fa-times"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- // travel document  -->


        </div>

      </div>


    </md-tab>

    <md-tab>
      <template md-tab-label>
        <i class="fa fa-comments"></i>
        Trip Messages
      </template>

      <div class="row c-manage-trip">
        <div class="col-md-3 c-mt-list">
          <div class="c-tripmembers">
            <h5 class="pull-left">Trip Group</h5>
            <button type="button" class="btn btn-sm btn-success pull-right">
              <i class="fa fa-plus"></i> &nbsp; Add Passenger
            </button>
          </div>

          <ul class="list-group">
            <li class="list-group-item active c-trip-itinerary alink">
              <div class="c-ti-allmembers pull-left"></div>
              <div class="c-ti-details pull-right">
                <div class="c-ti-destination">
                  Trip Group
                </div>
                <div class="c-ti-data">
                  Send Messages to All
                </div>
              </div>
            </li>
            <li class="alink list-group-item c-trip-itinerary">
              <div class="c-ti-date pull-left"><img [src]="'/assets/images/user-1.png'" class="img-circle"
                                                    alt="user-pic">
              </div>
              <div class="c-ti-details pull-right">
                <div class="c-ti-destination ng-binding">
                  Margot Abbot
                </div>
                <div class="c-ti-data ng-binding">
                  0 Messages
                </div>
              </div>
            </li>

            <li class="alink list-group-item c-trip-itinerary">
              <div class="c-ti-date pull-left"><img [src]="'/assets/images/user-1.png'" class="img-circle"
                                                    alt="user-pic">
              </div>
              <div class="c-ti-details pull-right">
                <div class="c-ti-destination ng-binding">
                  Margot Abbot
                </div>
                <div class="c-ti-data ng-binding">
                  0 Messages
                </div>
              </div>
            </li>

          </ul>

        </div>
        <div class="col-md-9">

          <!-- Begin trip group -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">New Group Message / Update</h3>

              <div class="panel-options">
                <md-slide-toggle (change)="onMessageOptionChange($event)" [color]="'primary'">Advanced</md-slide-toggle>
              </div>
            </div>

            <div class="panel-body">

              <div id="newMessage">
                <form role="form">
                  <div class="simple-message" *ngIf="!messageAdvanced">
                    <div class="form-group">
                      <label>Subject</label>
                      <input class="form-control" placeholder="Subject" type="text">
                    </div>
                    <div class="form-group">
                      <label>Your Message</label>
                      <textarea cols="5" rows="5" class="form-control" placeholder="Your Message"></textarea>
                    </div>

                    <div class="form-group">
                      <button type="button" class="btn btn-info btn-single pull-right">Send</button>
                    </div>
                  </div>

                  <div class="advance-message" *ngIf="messageAdvanced">


                    <div class="col-md-9">
                      <div class="form-group trip-input">
                        <label>Languages</label>
                        <div class="btn-group btns-languages">
                          <button type="button" class="btn btn-blue" title="English">EN</button>
                          <button type="button" class="btn" title="French">FR</button>
                          <button type="button" class="btn" title="German">DE</button>
                          <button type="button" class="btn" title="Spanish">ES</button>
                          <button type="button" class="btn" title="Italian">IT</button>
                          <button type="button" class="btn" title="Chinese">ZH</button>
                          <button type="button" class="btn" title="Japaness">JA</button>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Subject</label>
                        <input class="form-control" placeholder="Subject" type="text">
                      </div>
                      <div class="form-group">
                        <label>Your Message</label>
                        <textarea cols="5" rows="5" class="form-control" placeholder="Your Message"></textarea>
                      </div>

                      <div class="form-group">
                        <button type="button" class="btn btn-gray btn-single"><i class="fa fa-arrow-circle-o-down"></i>
                          &nbsp;Save
                          as template
                        </button>
                        <button type="button" class="btn btn-success btn-single pull-right">Send Group Message</button>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="trip-input">
                        <label>Select a Message Template to use</label>
                        <div class="scrollable ps-container" data-max-height="200" style="max-height: 200px;">
                          <select ng-model="groupMessageTemplate"
                                  class="placeholders-container selectMessageTemplate">
                            <option value="? undefined:undefined ?"></option>
                            <!-- ngRepeat: template in messageTemplates -->
                            <option ng-repeat="template in messageTemplates" value="1" class="ng-binding ng-scope">New
                            </option><!-- end ngRepeat: template in messageTemplates -->
                            <option ng-repeat="template in messageTemplates" value="2" class="ng-binding ng-scope">
                              ChrisTest1
                            </option><!-- end ngRepeat: template in messageTemplates -->
                            <option ng-repeat="template in messageTemplates" value="11" class="ng-binding ng-scope">All
                              Languag
                            </option><!-- end ngRepeat: template in messageTemplates -->
                            <option ng-repeat="template in messageTemplates" value="12" class="ng-binding ng-scope">All
                              Languages 4
                            </option><!-- end ngRepeat: template in messageTemplates -->
                            <option ng-repeat="template in messageTemplates" value="13" class="ng-binding ng-scope">
                              dashtest
                            </option><!-- end ngRepeat: template in messageTemplates -->
                            <option ng-repeat="template in messageTemplates" value="14" class="ng-binding ng-scope">
                              dashboard test34
                            </option><!-- end ngRepeat: template in messageTemplates -->
                            <option ng-repeat="template in messageTemplates" value="15" class="ng-binding ng-scope">
                              solo
                            </option><!-- end ngRepeat: template in messageTemplates -->
                            <option ng-repeat="template in messageTemplates" value="16" class="ng-binding ng-scope">ss
                            </option><!-- end ngRepeat: template in messageTemplates -->
                            <option ng-repeat="template in messageTemplates" value="17" class="ng-binding ng-scope">
                              Placeholder Demo
                            </option><!-- end ngRepeat: template in messageTemplates -->
                            <option ng-repeat="template in messageTemplates" value="18" class="ng-binding ng-scope">
                              Placeholder Demo(new)
                            </option><!-- end ngRepeat: template in messageTemplates -->
                            <option ng-repeat="template in messageTemplates" value="19" class="ng-binding ng-scope">
                              single
                            </option><!-- end ngRepeat: template in messageTemplates -->
                            <option ng-repeat="template in messageTemplates" value="20" class="ng-binding ng-scope">
                              Placeholder ITB
                            </option><!-- end ngRepeat: template in messageTemplates -->
                            <option ng-repeat="template in messageTemplates" value="3" class="ng-binding ng-scope">
                              ChrisTest2
                            </option><!-- end ngRepeat: template in messageTemplates -->
                            <option ng-repeat="template in messageTemplates" value="23" class="ng-binding ng-scope">Full
                              Placeholders
                            </option><!-- end ngRepeat: template in messageTemplates -->
                            <option ng-repeat="template in messageTemplates" value="24" class="ng-binding ng-scope">
                              Multi-language TEST (EN,FR,ZH)
                            </option>
                            <option ng-repeat="template in messageTemplates" value="25" class="ng-binding ng-scope">
                              Working Multi-Language TEST (EN,FR,ZH)
                            </option>
                            <option ng-repeat="template in messageTemplates" value="4" class="ng-binding ng-scope">
                              ChrisTest2e
                            </option><!-- end ngRepeat: template in messageTemplates -->
                            <option ng-repeat="template in messageTemplates" value="5" class="ng-binding ng-scope">
                              nolang
                            </option><!-- end ngRepeat: template in messageTemplates -->
                            <option ng-repeat="template in messageTemplates" value="6" class="ng-binding ng-scope">
                              ChrisTest3
                            </option><!-- end ngRepeat: template in messageTemplates -->
                            <option ng-repeat="template in messageTemplates" value="7" class="ng-binding ng-scope">
                              ChrisTest4
                            </option><!-- end ngRepeat: template in messageTemplates -->
                            <option ng-repeat="template in messageTemplates" value="8" class="ng-binding ng-scope">
                              ChrisTest9
                            </option><!-- end ngRepeat: template in messageTemplates -->
                            <option ng-repeat="template in messageTemplates" value="9" class="ng-binding ng-scope">
                              ChrisTest123213
                            </option><!-- end ngRepeat: template in messageTemplates -->
                            <option ng-repeat="template in messageTemplates" value="10" class="ng-binding ng-scope">All
                              Languages1
                            </option><!-- end ngRepeat: template in messageTemplates -->
                          </select>
                          <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
                            <div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
                          </div>
                          <div class="ps-scrollbar-y-rail" style="top: 0px; right: 2px;">
                            <div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div>
                          </div>
                        </div>
                      </div>
                      <div class="trip-input">
                        <br>
                        <label>Placeholders for Group Message</label>
                        <ul class="placeholders-container">
                          <li class="clearfix">
                            <div class="offer-left pull-left"> %%Trip_Name%%</div>
                          </li>
                          <li class="clearfix">
                            <div class="offer-left pull-left"> %%Guide_Name%%</div>
                          </li>
                          <li class="clearfix">
                            <div class="offer-left pull-left"> %%Admin_Name%%</div>
                          </li>
                          <li class="clearfix">
                            <div class="offer-left pull-left"> %%Trip_Start%%</div>
                          </li>
                        </ul>
                      </div>
                    </div>

                  </div>


                </form>
              </div>


              <div class="row">
                <div class="col-md-12">
                  <div id="allMessages" class="chat-messages">
                    <ul class="nav nav-tabs">
                      <li [class.active]="tabConversationHistoryOpen">
                        <a class="alink" (click)="showTabConverationHistory()"><span>Conversation History</span></a>
                      </li>
                      <li [class.active]="tabConversationScheduleOpen">
                        <a class="alink" (click)="showTabConverationSchedule()"><span>Scheduled Messages</span></a>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane" [class.active]="tabConversationHistoryOpen">
                        <div class="space-top chat-conversation">
                          <div class="ps-scrollbar ps-scroll-down ps-container ps-active-y">
                            <div class="comment-entry clearfix">
                              <div class="comment-icon"
                                   [style.background-image]="'url(https://safetravels01.s3.eu-central-1.amazonaws.com/a497ae3571a0076f380357e0704a6dcfa8f4779c-50)'"></div>

                              <div class="comment-message">
                                <div class="message-from">Sally Grasperet <span class="sent">2017-01-02 22:45:06</span>
                                </div>
                                <div class="message-subject">jlk</div>
                                <div class="message ng-binding">nn,m,m</div>
                              </div>
                            </div>

                            <div class="comment-entry clearfix">
                              <div class="comment-icon"
                                   [style.background-image]="'url(https://safetravels01.s3.eu-central-1.amazonaws.com/a497ae3571a0076f380357e0704a6dcfa8f4779c-50)'"></div>

                              <div class="comment-message">
                                <div class="message-from">Sally Grasperet <span class="sent">2017-01-02 22:45:06</span>
                                </div>
                                <div class="message-subject">jlk</div>
                                <div class="message ng-binding">nn,m,m</div>
                              </div>
                            </div>


                          </div>

                        </div>
                      </div>

                      <div class="tab-pane" [class.active]="tabConversationScheduleOpen">
                        <div class="space-top chat-conversation">
                          <div class="ps-scrollbar ps-scroll-down ps-container ps-active-y">
                            <div class="comment-entry clearfix">
                              <div class="comment-icon"
                                   [style.background-image]="'url(https://safetravels01.s3.eu-central-1.amazonaws.com/a497ae3571a0076f380357e0704a6dcfa8f4779c-50)'"></div>

                              <div class="comment-message">
                                <div class="message-from">Tom Nguyen <span class="sent">2017-01-02 22:45:06</span>
                                </div>
                                <div class="message-subject">Test subject</div>
                                <div class="message">nn,m,m</div>
                              </div>
                            </div>

                            <div class="comment-entry clearfix">
                              <div class="comment-icon"
                                   [style.background-image]="'url(https://safetravels01.s3.eu-central-1.amazonaws.com/a497ae3571a0076f380357e0704a6dcfa8f4779c-50)'"></div>

                              <div class="comment-message">
                                <div class="message-from">Michael Cruise <span class="sent">2017-01-02 22:45:06</span>
                                </div>
                                <div class="message-subject">Sample subject</div>
                                <div class="message ng-binding">nn,m,m</div>
                              </div>
                            </div>


                          </div>

                        </div>
                      </div>


                    </div>


                  </div>
                </div>
              </div>


            </div>
          </div>
          <!-- // Trip group -->


        </div>

      </div>


    </md-tab>


  </md-tab-group>


</md-card>

