$green-color: #71c055;
$col-sm: 768px;
$col-md: 992px;
$col-lg: 1200px;

@import '~@angular/material/core/theming/all-theme';

@include md-core();

$primary: md-palette($md-light-green);
$accent: md-palette($md-amber, A200, A100, A400);

$theme: md-light-theme($primary, $accent);

@include angular-material-theme($theme);

.m2app-dark {
  $dark-primary: md-palette($md-pink, 700, 500, 900);
  $dark-accent: md-palette($md-blue-grey, A200, A100, A400);
  $dark-warn: md-palette($md-deep-orange);

  $dark-theme: md-light-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}

@mixin fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.padding5 {
  padding: 5px;
}

.padding8 {
  padding: 8px;
}

.alink {
  cursor: pointer;
}

.panel .panel-heading > .panel-options a {
  &.active {
    color: $green-color;
  }
}

.c-trip-grid-container {
  position: relative;
  margin-left: -20px;
  margin-right: -30px;
}

.icheck {
  position: relative;
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }
  .iCheck-helper {
    position: absolute;
    top: -20%;
    left: -20%;
    display: block;
    width: 140%;
    height: 140%;
    margin: 0px;
    padding: 0px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    border: 0px none;
    opacity: 0;
  }
}

.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-transform: none;
  width: 1px;
}

.progress-checklist {
  .md-checkbox-layout .md-checkbox-label {
    line-height: normal !important;
  }
  .md-checkbox-label {
    display: block;
    line-height: normal;
  }
  .checklist-item {
    margin-bottom: 20px;
    display: block;
  }

  .md-checkbox-checked {
    .md-checkbox-label {
      color: #097ca8;
    }
  }
}

.datepicker {
  input {
    background: White url(/assets/images/calendar.png) no-repeat right;
    background-position: right 8px center;
  }
}

.start-location-wrapper {
  position: relative;
  display: inline-block;
  direction: ltr;
  top: 0 !important;
}

.business-logo-wrapper {
  position: relative;
  .business-logo {
    margin-bottom: 20px;
    @media (min-width: $col-lg) {
      max-width: 500px;
    }
  }
  .user-image {
    position: absolute;
    top: 36px;
    left: 38px;
    width: 150px;
  }

}

.logo-upload-actions {
  @media (max-width: $col-md) {
    margin-bottom: 20px;
  }

}

.panel-heading {
  h3 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 17px;
    color: inherit;
  }
  p {
    font-size: 14px;
  }
}

#progress-sidebar .panel {
  padding: 10px;
}

.c-navbar-upgrade {
  width: 550px;
  @media (min-width: $col-lg) {
    width: 650px;
  }
}

.t-hd-title {
  margin-top: 5px;
  font-weight: 700;
  font-size: 15px;
  @media (min-width: $col-md) {
    font-size: 23px;
  }
}

.sidebar-is-open {
  .c-navbar-upgrade {
    width: 550px;
    @media (min-width: $col-lg) {
      width: 550px;
    }
  }
  .t-hd-title {
    @media (min-width: $col-md) {
      font-size: 15px;
    }
  }
  .c-ti-date {
    width: 36px;
  }
}

.fa-question-circle-o {
  @include fa;
  &:before {
    content: "\f29c";
  }
}

.list-group {
  .list-group-item {
    &:hover {
      background-color: #f5f5f5;

    }
    &.active {
      background-color: #337ab7;
      .c-ti-destination, .c-ti-data {
        color: #FFF;
      }
    }

  }

}

.btns-languages {
  .btn {
    border-radius: 4px;
  }
}

.chat-messages {
  margin-top: 30px;
  &:before, &:after {
    display: table;
  }
  &:after {
    clear: both;
  }
}

.album-images, .upload-file-wrapper {
  margin-top: 30px;
}

.upload-file-wrapper {
  .btn {
    margin-top: 20px;
  }
}
