<div class="row">

	<div [class.col-md-10]="sidebarProgressToggle" [class.col-md-12]="!sidebarProgressToggle" [class.col-sm-12]="true">


		<!-- statics counter -->
		<div class="row draggable-portlets">
			<div class="col-md-4">
				<div class="xe-widget c-pod xe-counter c-shamrock">
					<div class="xe-icon"><i class="fa fa-compass" aria-hidden="true"></i>
					</div>
					<div class="xe-label"><strong class="num">
						<app-counter [prefix]="" [suffix]="" [step]="30" [countTo]="100" [countFrom]="0"
												 [duration]="2"></app-counter>
					</strong><span>Trips in progress</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="xe-widget  c-pod xe-counter c-royalblue">
					<div class="xe-icon"><i class="fa fa-map-marker" aria-hidden="true"></i>
					</div>
					<div class="xe-label">

						<strong class="num ng-binding">
							<app-counter [prefix]="" [suffix]="" [step]="30" [countTo]="100" [countFrom]="0"
													 [duration]="2"></app-counter>
						</strong><span>Trips starting tomorrow</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="xe-widget c-pod xe-counter c-purpleheart">
					<div class="xe-icon"><i class="fa fa-calendar" aria-hidden="true"></i>
					</div>
					<div class="xe-label"><strong class="num">
						<app-counter [prefix]="" [suffix]="" [step]="30" [countTo]="100" [countFrom]="0"
												 [duration]="2"></app-counter>
					</strong><span>Trips in next 7 days</span>
					</div>
				</div>
			</div>
		</div>

		<!-- // Statics counter -->


		<!-- Begin create trip block -->
		<div class="row">
			<div class="c-widget c-flamepea">
				<form id="newtrip" class="ng-pristine ng-invalid ng-invalid-required">
					<div class="row w100">

						<div class="col-md-2 wCentered">
							<div class="xe-icon newTripIcon hidden-sm"><i class="fa fa-plane" aria-hidden="true"></i>
							</div>
						</div>
						<div id="" class="col-md-8">
							<div class="row m-b-10">
								<div class="col-md-12 inflex">
									<label class="lblName">Create a Trip:</label>
									<input class="inpName ng-pristine ng-invalid ng-invalid-required" name="destination"
												 placeholder="Trip Name" required="" type="text">
								</div>
							</div>
							<div class="row">
								<div class="col-lg-4 col-md-12 inflex">
									<label class="lblTo">To</label>
									<input name="strart_location_gps" value="Y"
												 required="" class="ng-pristine ng-invalid ng-invalid-required" type="text">
								</div>

								<div class="col-lg-4 col-md-6 col-sm-12 inflex">
									<label class="lblBetween">between</label>
									<input data-start-date="-0d" data-format="yyyy-mm-dd" name="startdate" id="startdate"
												 class="datepicker input-date inpBetween"
												 placeholder="Start Date" required="" type="text">

								</div>
								<div class="col-lg-4 col-md-6 col-sm-12 inflex">
									<label class="lblAnd">and</label>
									<input data-start-date="-0d" data-format="yyyy-mm-dd" name="enddate" id="enddate"
												 class="datepicker input-date inpAnd"
												 placeholder="End Date" required="" type="text">
								</div>
							</div>
						</div>


						<div class="col-md-2 nf-input wCentered">
							<button><span class="hidden-md">Create</span> New
								Trip
							</button>
							<div [hidden]="true" name="newTripSpinner"
									 class="ng-isolate-scope ng-hide"><img
									src="https://cdnjs.cloudflare.com/ajax/libs/timelinejs/2.25/css/loading.gif">
							</div>
						</div>


					</div>
				</form>
			</div>
		</div>
		<!-- // Create trip block -->

		<!-- Begin trips list -->
		<div class="row">
			<div class="col-sm-12 trip-list">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Upcoming Trips</h3>
						<div class="panel-options">
							<a [class.active]="config.tripLayout == 'list'" (click)="tripLayout('list')" href="javascript://"><i
									class="fa fa-th-list"></i></a>
							<a [class.active]="config.tripLayout == 'grid'" (click)="tripLayout('grid')" href="javascript://"><i
									class="fa fa-th-large"></i></a>
						</div>
					</div>
					<div class="panel-body">

						<!-- table -->
						<div class="c-trip-table-container" *ngIf="config.tripLayout == 'list'">
							<table class="table table-striped c-trip-table">
								<thead>
								<tr>
									<th st-sort="tour_name">Trip Name</th>
									<!-- <th st-sort="">Destination</th> -->
									<th st-sort="tour_begin_date">Departure</th>
									<th st-sort="">Trip Duration</th>
									<th st-sort="tour_admin.first_name">Manager</th>
									<th st-sort="">Guide</th>
									<th st-sort="" width="100px"></th>
								</tr>
								</thead>

								<tbody>
								<tr *ngFor="let trip of trips">
									<td>{{trip.tour_name}}</td>
									<td>{{trip.tour_begin_date}}</td>
									<td>{{trip.tour_duration}}</td>
									<td>{{trip.tour_manager}}</td>
									<td>{{trip.tour_guide}}</td>
									<td><a href="javascript://" class="btn c-btn">Open <i class="fa fa-arrow-right"></i></a></td>
								</tr>
								</tbody>
							</table>

						</div>
						<!-- // table -->

						<!-- grid -->
						<div class="c-trip-grid-container" *ngIf="config.tripLayout == 'grid'">

							<div class="c-trip" *ngFor="let trip of trips">
								<div class="c-trip-thumb" [style.background-image]="'url('+trip.thumbnail+')'">
									<div class="c-trip-overlay">
										<a href="javascript://" class="c-trip-link">OPEN TRIP</a>
									</div>
								</div>
								<div class="c-trip-details"><strong>{{trip.tour_name}}</strong><em
										class="ng-binding">{{trip.tour_begin_date}} - {{trip.tour_end_date}}</em>
								</div>
							</div>


						</div>

						<!-- // grid -->

					</div>
				</div>
			</div>
		</div>

		<!-- // Trips list -->

		<div class="row">
			<!-- Begin Recent messages -->
			<div class="col-sm-12 col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Recent Messages</h3>
						<div class="panel-options">
							<button class="btn btn-sm btn-info">New message</button>
						</div>
					</div>
					<div class="panel-body">
						<div class="busyState">
							<table class="recentList">
								<tbody>
								<tr>
									<td class="unread">Brazil Scuba Week Group</td>
									<td>Hope everyone is ready to start their adventure in</td>
									<td>8 min ago</td>
								</tr>
								<tr>
									<td>Brazil Scuba Week Group</td>
									<td>Hope everyone is ready to start their adventure in</td>
									<td>8 min ago</td>
								</tr>
								<tr>
									<td>Brazil Scuba Week Group</td>
									<td>Hope everyone is ready to start their adventure in</td>
									<td>8 min ago</td>
								</tr>
								<tr>
									<td>Brazil Scuba Week Group</td>
									<td>Hope everyone is ready to start their adventure in</td>
									<td>8 min ago</td>
								</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
			<!-- // Recent messages -->


			<!-- Begin Offers -->
			<div class="col-sm-12 col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Recent Offers </h3>
						<div class="panel-options">
							<button class="btn btn-sm btn-info">New Offer</button>
						</div>
					</div>
					<div class="panel-body">
						<div class="emptyState">
							<img [src]="'/assets/images/empty_offers.png'">
							<div class="emptyCopy">Help your customers discover best local attractions and earn extra income by <a
									href="#">Creating Offers</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- // Offers -->


		</div>
	</div>

	<!-- Begin sidebar progress -->
	<div id="progress-sidebar" [hidden]="!sidebarProgressToggle" class="col-md-2 col-sm-12">
		<app-sidebar-progress [sidebarProgressToggle]="sidebarProgressToggle"></app-sidebar-progress>
	</div>
	<!-- // End sidebar progress -->

</div>
