<h2 md-dialog-title>Invite Passenger to {{trip.title}}</h2>
<md-dialog-content>
	<md-tab-group>
		<md-tab label="Invite Passenger">
			<div class="error" *ngIf="errorMessage">
				<div class="alert alert-danger" role="alert">{{errorMessage}}</div>
			</div>
			<div class="add-user-dialog-content">
				<div class="form-group">
					<md-input-container>
						<input mdInput placeholder="First Name" name="first_name" [(ngModel)]="newInvite.first_name">
					</md-input-container>
				</div>

				<div class="form-group">
					<md-input-container>
						<input mdInput placeholder="Last Name" name="last_name" [(ngModel)]="newInvite.last_name">
					</md-input-container>
				</div>

				<div class="form-group">
					<md-input-container>
						<input mdInput placeholder="Email" name="email" [(ngModel)]="newInvite.email" [required]="true"
									 [type]="'email'">
					</md-input-container>
				</div>
				<div class="form-group">
					<md-slide-toggle [color]="'primary'" (change)="inviteToggleSent($event)">Send invite now</md-slide-toggle>
				</div>

				<div class="dialog-actions">
					<button class="btn btn-sm" md-dialog-close>Close</button>
					<button class="btn btn-sm btn-success" (click)="onInviteSubmit()">Save</button>
				</div>
			</div>

		</md-tab>
		<md-tab label="Invites">
			<div class="list-invites">
				<md-list>
					<md-list-item *ngFor="let invite of invites">
						<md-icon *ngIf="invite.sent" md-list-avatar>check</md-icon>
						<md-icon *ngIf="!invite.sent" md-list-avatar>schedule</md-icon>

						<button md-icon-button [mdMenuTriggerFor]="menu">
							<md-icon>more_vert</md-icon>
						</button>
						<md-menu #menu="mdMenu">
							<button *ngIf="!invite.sent" md-menu-item (click)="reSentInvite(invite)">
								<md-icon>send</md-icon>
								<span>Send</span>
							</button>
							<button md-menu-item (click)="deleteInvite(invite)">
								<md-icon>delete</md-icon>
								<span>Delete</span>
							</button>
						</md-menu>

						<h4 md-line>{{invite.first_name + ' ' + invite.last_name}}</h4>
						<p md-line> {{invite.email}} </p>
					</md-list-item>
				</md-list>
			</div>

		</md-tab>
		<md-tab label="Deleted Members">

			<div class="padding-20">
				<table class="table table-hover">
					<thead>
					<tr>
						<th>First name</th>
						<th>Last name</th>
						<th>Email</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					<tr *ngFor="let member of deletedMembers">
						<td>{{member.first_name}}</td>
						<td>{{member.last_name}}</td>
						<td>{{member.email}}</td>
						<td><button (click)="undeleteMember(member)" type="button" class="btn btn-info">Re-Add</button></td>
					</tr>
					</tbody>
				</table>
			</div>
		</md-tab>
	</md-tab-group>


</md-dialog-content>

